#right {
        display: none;
        color: green;
    }
    
    #cross {
        display: none;
        color: red;
    }
    
    #right11 {
        display: none;
        color: green;
    }
    
    #cross11 {
        display: none;
        color: red;
    }
    
    #right22 {
        display: none;
        color: green;
    }
    
    #cross22 {
        display: none;
        color: red;
    }